.__form-container {
    margin: auto;
    display: flex;
}

.__after-stepper {
    height: 44px;
}

.__after-hot-topics {
    height: 56px;
}

.__hot-topic {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    color: #302C2C;
    opacity: 1;
}

.__article-form-title {
    font-family: Aktiv Grotesk;
    font-size: 0.875rem/1.3125rem; /* Set font size to 0.875rem and line height to 1.3125rem */
    font-weight: bold;
}

.__nice-input {
    border-width: 1px;
    border-color: var(--color-primary-100) !important;
    outline: 0;
    border-radius: 16px;
    padding: 8px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.__text-box {
    height: 232px;
}

.__show-more {
    color: var(--color-primary-500);
}

#smd > p {
    margin-bottom: 16px
}

#smd > ul {
    list-style: disc;
    list-style-position: inside;
    margin-bottom: 16px
}

#smd > ol {
    list-style: decimal;
    list-style-position: inside;
    margin-bottom: 16px
}

#smd > p > a {
    color: var(--color-primary-500);
    text-decoration: none
}

#smd > ol > li > a {
    color: var(--color-primary-500);
    text-decoration: none
}