@import "./../../public/fonts/nimbus.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/** this file is for the custom values. */

:root {
    /* colors */
    --white: #ffffff;
    --black: #0f0f0f;
    --primary-color: #0f0f0f;
    --color-grey-1: #f7f5f5;
    --color-grey-2: #a39f9f;
    --color-grey-3: #747272;
    --color-grey-4: #595757;
    --primus-green: #86b32e;

    background: var(--white);
    color: var(--black);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    gap: 0;
}

html {
    scroll-behavior: smooth;
}

.__root-layout {
    @apply flex flex-col min-h-screen w-full;
}

.__restricted-width {
    @apply max-w-[96em] mx-auto w-full;
}

.__button {
    display: inline-flex;
    padding: 11px 24px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 22px;

    font-family: nimbus, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
}

.__button.__primary {
    background: var(--primary-color);
    color: var(--white);
    fill: var(--white);
}

.__list-icon {
    width: 16px;
}

.__radio-button:hover {
    fill: var(--color-grey-1) !important;
    stroke: var(--color-grey-3) !important;
}

@layer primusAero {

}

@media print {
    .no-print {
        display: none !important;
    }
}
