.__menu-link {
    font-size: 16px;
    color: var(--black);
}

.__blob {
    width: 48px;
    height: 48px;
    background: #707070 0 0 no-repeat padding-box;
    box-shadow: 0px 4px 15px #ED6E5012;
    border-radius: 16px;
    opacity: 1;
}